{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eliminar Mesa</h1>

    <div class="alert alert-danger">
        La reserva a las {{ reserva.fechaHora|date('d/m/Y H:i') }} de la mesa {{ reserva.mesa.numero }} será eliminada.
        Esta acción no se puede deshacer!
    </div>

    <form method="post">
        <a href="{{ path('reserva_listar') }}" class="btn btn-info">Volver al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger">Confirmar</button>
    </form>
{% endblock %}
