{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eliminar Usuario</h1>

    <div class="alert alert-danger">
        El usuario {{ usuario.email }} será eliminado.
        Esta acción no se puede deshacer!
    </div>

    <form method="post">
        <a href="{{ path('usuario_listar') }}" class="btn btn-info">Volver al listado</a>
        <button type="submit" name="confirmar" class="btn btn-danger">Confirmar</button>
    </form>
{% endblock %}

