{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
    <h1>Registro de Usuario</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-secondary">Volver</a>
    <button class="btn btn-success">Registrarse</button>
    {{ form_end(form) }}
{% endblock %}