{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('mesa_listar') }}" class="btn btn-secondary">Volver</a>
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}